@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
* {
    box-sizing: border-box;
    /* oh oh it's very good, without this line code if we have diff boxes actually they don't have equal size
    even you defined same width and height for them but with this line we sid please set equal 
    width, height and padding for any box that we had */
}

body {
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    font-family: "poppins", sans-serif;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    min-width: 100vh;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    padding: 0.4rem 1rem;
    margin: 10px;
    font-family: inherit;
}

header button {
    background-color: transparent;
    color: #aaa;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
}

.mobile-container {
    background-color: white;
    width: 400px;
    box-shadow: 0 0 5px #3333331A;
    border-radius: 3px;
    overflow: hidden;
}

.fav-container {
    background-color: rgb(240, 227, 237);
    padding: 0.25rem 1rem;
    text-align: center;
}

.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav-meals li {
    margin: 5px;
    width: 75px;
}

.fav-meals li img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #3333331a;
    object-fit: cover;
    width: 70px;
    height: 70px;
}

.fav-meals li span {
    font-size: 0.9em;
}

.meal {
    border-radius: 3px;
    box-shadow: 0 0 10px 2px #3333331a;
    margin: 1.5rem;
    overflow: hidden;
    background-color: rgb(240, 227, 237);
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.meal-header img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    border: none;
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;
    color: rgb(180, 175, 175);
}

.meal-body .fav-btn.active {
    color: rebeccapurple;
}